apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: ghcr.io/carlosfcruz/devopsproject:latest
          ports:
            - containerPort: 8000
          env:
            - name: APP_NAME
              value: "platform"
            - name: APP_ENV
              value: "development"
            - name: POSTGRES_HOST
              value: "postgres"
            - name: REDIS_HOST
              value: "redis"
          envFrom:
            - secretRef:
                name: db-credentials
---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: api
  ports:
    - port: 8000
      targetPort: 8000
